In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('USvideos.csv')
df = pd.DataFrame(df)
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...

Nomor 2. ambil data secara acak 1% kemudian hitung rata-rata dan varians

In [ ]:
#a
nim_029 = df.sample(frac=0.01)[['likes','views','dislikes']]
nim_029.mean()

likes       7.392063e+04
views       2.236292e+06
dislikes    2.987738e+03
dtype: float64

In [ ]:
nim_029.var()

likes       3.493559e+10
views       3.501013e+13
dislikes    9.446147e+07
dtype: float64

Nomor 3. ambil data video dengan jumlah dislke lebih daari 10% dengan cara quer dan boolean indexing

In [ ]:
nim_029.query ('dislikes > (0.1* likes)')

        likes    views  dislikes
32537    3914   198496       470
15906   14604  6053112      6269
38465   12235  1117850      2176
35382    4060   637984       420
27335   12367  1922653      1512
...       ...      ...       ...
21026     780    67954       169
7000     4680   939086      1017
13693   39600  1087184      9427
12998   34809  1632401      3526
25077  156678  2762828     23485

[78 rows x 3 columns]

In [ ]:
nim_029[nim_029['dislikes']>0.1*nim_029['likes']]

        likes    views  dislikes
32537    3914   198496       470
15906   14604  6053112      6269
38465   12235  1117850      2176
35382    4060   637984       420
27335   12367  1922653      1512
...       ...      ...       ...
21026     780    67954       169
7000     4680   939086      1017
13693   39600  1087184      9427
12998   34809  1632401      3526
25077  156678  2762828     23485

[78 rows x 3 columns]

Nomor 4
Dari query nomor 3, bandingkan ratio like dan dislike nya kemudian urutkan berdasarkan
ratio terbesar

In [ ]:
df2 = nim_029.query('dislikes > 0.1 * likes')
df2 = df2.assign(ratio = df2['likes']/df2['dislikes'])

In [ ]:
df2 = df2.sort_values('ratio', ascending=False)
df2

       likes    views  dislikes     ratio
12998  34809  1632401      3526  9.872093
35382   4060   637984       420  9.666667
8478      65    21028         7  9.285714
27029  15610   505198      1696  9.204009
25251  39025  1865136      4274  9.130791
...      ...      ...       ...       ...
14884    238    42354       314  0.757962
19719   1014    99373      1536  0.660156
19374    768   102560      1452  0.528926
17761   1644   491323      4227  0.388928
13834      7     6064        23  0.304348

[78 rows x 4 columns]

Nomor 5. Buat kolom Baru pada dataframe sampel, yaitu label, dimana label bernilai 1 jika ratio <
rata-rata ratio dan 0 jika >= rata rata ratio dengan menggunakan .where() dan .loc !

In [ ]:
df2 = df2.assign(label = np.zeros_like(df2['likes'].values))
df2

       likes    views  dislikes     ratio  label
12998  34809  1632401      3526  9.872093      0
35382   4060   637984       420  9.666667      0
8478      65    21028         7  9.285714      0
27029  15610   505198      1696  9.204009      0
25251  39025  1865136      4274  9.130791      0
...      ...      ...       ...       ...    ...
14884    238    42354       314  0.757962      0
19719   1014    99373      1536  0.660156      0
19374    768   102560      1452  0.528926      0
17761   1644   491323      4227  0.388928      0
13834      7     6064        23  0.304348      0

[78 rows x 5 columns]

Nomor 6. Temukan video yang memiliki likes = 0 ! berapakah views maksimum nya ?

In [ ]:
df3 = df.query('likes == 0')
df3 [['views','likes','dislikes']].describe()

              views  likes    dislikes
count  1.720000e+02  172.0  172.000000
mean   4.052518e+06    0.0    0.029070
std    1.135538e+07    0.0    0.274178
min    1.456000e+03    0.0    0.000000
25%    7.713425e+04    0.0    0.000000
50%    4.290240e+05    0.0    0.000000
75%    1.012722e+06    0.0    0.000000
max    5.611196e+07    0.0    3.000000

No 7. Jelaskan mengapa ada views yang sangat tinggi tetapi likes = 0

In [ ]:
df.query('ratings_disabled == True').describe()

       category_id         views  likes  dislikes  comment_count
count   169.000000  1.690000e+02  169.0     169.0     169.000000
mean     18.384615  4.124415e+06    0.0       0.0     412.106509
std       8.812869  1.144330e+07    0.0       0.0    1075.762958
min       1.000000  1.456000e+03    0.0       0.0       0.000000
25%      10.000000  8.583300e+04    0.0       0.0       0.000000
50%      22.000000  4.594910e+05    0.0       0.0       0.000000
75%      24.000000  1.015005e+06    0.0       0.0     179.000000
max      29.000000  5.611196e+07    0.0       0.0    5286.000000

In [ ]:
df.query('ratings_disabled == False and likes==0')

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
192,wRGldR_SQAA,17.14.11,Apple Clips sample,Steve Kovach,22,2017-11-09T18:01:04.000Z,[none],2259,0,0,0,https://i.ytimg.com/vi/wRGldR_SQAA/default.jpg,False,False,False,Clips 2.0 lets you use augmented reality and s...
1490,A_mlvG_nRsg,17.21.11,Kelly Oubre Punches John Wall in the Lead duri...,Rob Andretti,17,2017-10-28T11:15:14.000Z,[none],2197,0,2,0,https://i.ytimg.com/vi/A_mlvG_nRsg/default.jpg,False,False,False,I'm BACK! \n\n• Will you be apart of the take ...
1741,A_mlvG_nRsg,17.22.11,Kelly Oubre Punches John Wall in the Lead duri...,Rob Andretti,17,2017-10-28T11:15:14.000Z,[none],2447,0,3,1,https://i.ytimg.com/vi/A_mlvG_nRsg/default.jpg,False,False,False,I'm BACK! \n\n• Will you be apart of the take ...

karenaa.........

8. Berapa presentase video dengan likes lebih banyak dari dislikes dengan video likes lebih sedikit
dari dislikes ?

In [ ]:
likes = '(likes > dislikes)'
dislikes = '(likes < dislikes)'

In [ ]:
df_likes = df.query(likes)

In [ ]:
df_dislikes = df.query(dislikes)

In [ ]:
bandi = lambda L:list(map(lambda x:x/sum(L),L))
re = [df_likes.shape[0], df_dislikes.shape[0]]
print (bandi(re))

[0.9858712715855573, 0.0141287284144427]

9. Bagaimana perbandingan rata rata dan standard deviasi jumlah views antara video dengan
likes lebih banyak dari dislikes dengan video likes lebih sedikit dari dislikes ?

In [ ]:
r1 = df_likes.loc[:,'views'].mean()
st1 = df_likes.loc[:,'views'].std()

In [ ]:
r2 = df_dislikes.loc[:,'views'].mean()
st2 = df_dislikes.loc[:,'views'].std()

In [ ]:
print(bandi([r1, r2]))

[0.6936325660781124, 0.3063674339218876]

In [ ]:
print(bandi([st1, st2]))

[0.6525291274590552, 0.34747087254094483]

10. Bagaimana perbandingan rata rata dan standard deviasi jumlah comment antara video den-
gan likes lebih banyak dari dislikes dengan video likes lebih sedikit dari dislikes ?

In [ ]:
r1=df_likes.loc[:,'comment_count'].mean()
st1=df_likes.loc[:,'comment_count'].std()

In [ ]:
r2=df_dislikes.loc[:,'comment_count'].mean()
st2=df_dislikes.loc[:,'comment_count'].std()

In [ ]:
print(bandi([r1,r2]))

[0.348787682929341, 0.6512123170706591]

In [ ]:
print(bandi([st1,st2]))

[0.2269874820781624, 0.7730125179218377]

11. Berapa ratio rata-rata jumlah likes/dislikes untuk video dengan komentar yang dinonaktifkan
?

In [ ]:
df4=df.query('comments_disabled==True')
df4=df4.assign(ratio=df4['likes']/(df4['likes']+df4['dislikes']))

In [ ]:
r1=df4['ratio'].mean()
print(r1,1-r1,sep=':')

0.8324019250989896:0.16759807490101042

12. Berapa ratio rata-rata jumlah comments/views untuk video dengan ratings yang dinonak-
tifkan ?

In [ ]:
df5=df.query('ratings_disabled==True')
df5=df5.assign(ratio=df5['comment_count']/(df5['views']+df5['comment_count']))

In [ ]:
r1=df5['ratio'].mean()
print(r1,1-r1)

0.0018133621624128002 0.9981866378375872

13. Berapa rata-rata jumlah views untuk video yang tidak memiliki tags ?

In [ ]:
df.query('tags=="[none]"')['views'].mean()
df['views']

0          748374
1         2418783
2         3191434
3          343168
4         2095731
           ...
40944     1685609
40945     1064798
40946     1066451
40947     5660813
40948    10306119
Name: views, Length: 40949, dtype: int64

14. Lakukan query untuk menentukan jumlah perbandingan rata-rata viewers yang tidak
melakukan rating like/dislike dengan yang meninggalkan ratings like/dislike

In [ ]:
df['likes']+df['dislikes']

0         60493
1        103331
2        151372
3         10838
4        134224
          ...
40944     39545
40945     60390
40946     49100
40947    195803
40948    570055
Length: 40949, dtype: int64

In [ ]:
df['views']-(df['likes']+df['dislikes'])

0         687881
1        2315452
2        3040062
3         332330
4        1961507
          ...
40944    1646064
40945    1004408
40946    1017351
40947    5465010
40948    9736064
Length: 40949, dtype: int64

In [ ]:
r1=((df['views']-(df['likes']+df['dislikes']))/df['views']).mean()
print(r1,1-r1)

0.9639728697489444 0.03602713025105564

nomor 15

In [ ]:
df2=df.copy()
df2=df2.assign(kluster=np.zeros_like(df['likes'].values))

klus1=df2.query('likes < 10**6 and views < 50 * 10**6')
klus2=df2.query('likes < 10**6 and views >= 50 * 10**6')
klus3=df2.query('likes >= 10**6 and views >= 50 * 10**6')
klus4=df2.query('likes >= 10**6 and views < 50 * 10**6')

df2.loc[klus1.index,'kluster'] = 1
df2.loc[klus2.index,'kluster'] = 2
df2.loc[klus3.index,'kluster'] = 3
df2.loc[klus4.index,'kluster'] = 4

In [ ]:
df2.query('kluster==1').count()['video_id']

40542

In [ ]:
df2.query('kluster==2').count()['video_id']

38

In [ ]:
df2.query('kluster==3').count()['video_id']

139

In [ ]:
df2.query('kluster==4').count()['video_id']

230